/* Button */
#aboutbut:hover, #aboutbut, #howtobut:hover, #howtobut, #roll:hover, #roll {
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  margin-right: 10px;
  border-radius: 10px;
}

#roll {
  background: linear-gradient(to bottom left, #5FABC5, white);
}

#roll:hover {
  background: linear-gradient(to bottom left, #FAA613, #A10702);
}

#howtobut {
  background: linear-gradient(to bottom left, #5FABC5, white);
}

#howtobut:hover {
  background: linear-gradient(to bottom left, #2d2ddf, #30db30);
}

#aboutbut {
  background: linear-gradient(to bottom left, #5FABC5, white);
}

#aboutbut:hover {
  background: linear-gradient(to bottom left, #30db30, yellow);
}

/* Models */
.howto {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000; /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.about-game {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000; /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.directions {
  background-color: #fefefe;
  color: navy;
  margin: auto;
  padding: 20px;
  border: 1px groove #888;
  border-radius: 20px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.directions > div {
  margin: 0 20px;
}

.aboutmkr {
  background-color: #fefefe;
  color: navy;
  margin: auto;
  padding: 20px;
  border: 1px groove #888;
  border-radius: 20px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.aboutmkr > div {
  margin: 0 20px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Utilties */
@keyframes rollDice {
  0% {
    transform: rotate(20deg);
    transform-origin: 20% 40%;
  }
  20% {
    transform: rotate(90deg);
    width: max-content;
  }
  50% {
    transform: rotate(-180deg);
    transform-origin: 40% 20%;
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
    transform-origin: 60% 30%;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #000000;
  color: white;
  /* font-family: 'Mulish', sans-serif; */
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  margin: 0em;
}

h2 {
  font-family: "Poppins", sans-serif;
  text-align: left;
  line-height: 2;
}

sub {
  font-family: "Mulish", sans-serif;
  text-align: justify;
}

p {
  text-align: justify;
  text-indent: 30px;
  line-height: 2;
  font-size: large;
  font-family: "Mulish", sans-serif;
}

header {
  width: 85%;
  margin: 0 auto;
  background-color: #45433C;
  border: 10px solid #5FABC5;
  border-radius: 25px;
  text-align: center;
  margin-top: 5px;
  vertical-align: 150px;
  color: #EFECE6;
}

.container {
  width: 95%;
  text-align: center;
  vertical-align: 150px;
  margin: 0 auto;
  background-color: #F7D928;
  border: 10px groove #ab0f0c;
  display: flex;
  min-height: 100vh;
  justify-content: stretch;
  flex-wrap: wrap;
}

.wrapper {
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
}

#play-area {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-grow: 1;
}

#hand {
  border-radius: 25px;
  background-color: #45433C;
  width: 50%;
  max-height: 100px;
  position: absolute;
  bottom: 20px;
  left: 110px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

img {
  width: 15%;
  padding: 0.5px;
  margin: 0.5vw;
}

img:hover {
  border: 5px solid #ab0f0c;
  border-radius: 10px;
}

#play-area > img {
  animation: rollDice;
  animation-duration: 1s;
  justify-content: center;
  align-items: center;
}

main {
  box-sizing: border-box;
  flex-grow: 2;
}

table, th, td {
  border: 1px groove rebeccapurple;
  margin: 0 auto;
  padding: 0.5px;
  font-weight: bold;
  background-color: #EFECE6;
  color: black;
}

@media (min-width: 600px) {
  .wrapper {
    flex-direction: row;
  }
  #play-area {
    width: 80%;
    flex: 4;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    margin-bottom: 10em;
  }
  #hand {
    height: 25%;
  }
  main {
    flex: 2;
  }
}

/*# sourceMappingURL=style.css.map */
