@import "config";
/* Button */
$background-static: linear-gradient(to bottom left, #5FABC5, white);
$background-roll: linear-gradient(to bottom left,  #FAA613, #A10702);
$background-hotobut: linear-gradient(to bottom left, #2d2ddf, #30db30);
$background-about: linear-gradient(to bottom left, #30db30, yellow);

%button {
    font-size: 1.5em;
    font-family: $font-Poppins;
    margin-right: 10px;
    border-radius: 10px;
}
#roll {
    @extend %button;
    background: $background-static;
}
#roll:hover {
    @extend %button;
    background: $background-roll;
}
#howtobut {
    @extend %button;
    background: $background-static;
}
#howtobut:hover {
    @extend %button;
    background: $background-hotobut;
}
#aboutbut {
    @extend %button;
    background: $background-static;
}
#aboutbut:hover {
    @extend %button;
    background: $background-about;
}