@import "config";
/* Button */
button {
    font-size: 1.5em;
    font-family: $font-Poppins;
    margin-right: 10px;
    border-radius: 10px;
}
#roll {
    background: linear-gradient(to bottom left, #5FABC5, white);
}
#roll:hover {
    background: linear-gradient(to bottom left,  #FAA613, #A10702);
}
#howtobut {
    background: linear-gradient(to bottom left, #5FABC5, white);
}
#howtobut:hover {
    background: linear-gradient(to bottom left, #2d2ddf, #30db30);
}
#aboutbut {
    background: linear-gradient(to bottom left, #5FABC5, white);
}
#aboutbut:hover {
    background: linear-gradient(to bottom left, #30db30, yellow);
}