$font-Poppins: "Poppins", sans-serif;
$font-Mulish: "Mulish", sans-serif;
$model-font-color: navy;
$primary-color: #F7D928;
$secondary-color: #45433C;
$tertiary-color: #EFECE6;
$first-border-color: #ab0f0c;
$second-border-color: #5FABC5;
$first-border-style: groove;
$second-border-style: solid;