$font-Poppins: "Poppins", sans-serif;
$font-Mulish: "Mulish", sans-serif;
$model-font-color: navy;
$primary-color: #0066ff;
$secondary-color: #45433C;
$first-border-color: #ab0f0c;
$second-border-color: #5FABC5;