@import "config", "button", "model", "utilities";
html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
    @include set-background(#000000);
    /* font-family: 'Mulish', sans-serif; */
}
h1 {
  font-family: $font-Poppins;
  font-size: 60px;
  margin: 0em;

}
h2 {
    font-family: $font-Poppins;
    text-align: left;
    line-height: 2;
}
sub {
  font-family: $font-Mulish;
  text-align: justify;
  
}
p {
    text-align: justify;
    text-indent: 30px;
    line-height: 2;
    font-size: large;
    font-family: $font-Mulish;
}
header {
    width: 85%;
    margin: 0 auto;
    background-color: $secondary-color;
    border: 10px $second-border-style $second-border-color;
    border-radius: 25px;
    text-align: center;
    margin-top: 5px;
    vertical-align: 150px;
    color: $tertiary-color;
}
.container {
    width: 95%;
    text-align: center;
    vertical-align: 150px;
    margin: 0 auto;
    background-color: $primary-color;
    border: 10px $first-border-style $first-border-color;
    display: flex;
    min-height: 100vh;
    justify-content: stretch;
    flex-wrap: wrap;
    
}
.wrapper {
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
}
#play-area {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 1;
}
#hand {
    border-radius: 25px;
    background-color: $secondary-color;
    width: 50%;
    max-height: 100px;
    position: absolute;
    bottom: 20px;
    left: 110px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
img {
    width: 15%;
    padding: .5px;
    margin: .5vw;
}
img:hover {
    border: 5px $second-border-style $first-border-color;
    border-radius: 10px;
}
#play-area > img {
    animation: rollDice;
    animation-duration: 1s;
    
    justify-content: center;
    align-items: center;
}  
main {
    box-sizing: border-box; 
    flex-grow: 2;
}
table, th, td {
    border: 1px groove rebeccapurple;
    margin: 0 auto;
    padding: .5px;
    font-weight: bold;
    @include set-background($tertiary-color)
}

@media (min-width: 600px) {
    .wrapper {
      flex-direction: row;
    }
    #play-area {
      width: 80%;
      flex: 4;
      justify-content: center;
      align-items: center;
      margin-right: 1em;
      margin-bottom: 10em;
    }
    #hand {
      height: 25%;
    }
    main {
      flex: 2;
    }
}
