html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #ffffff00;
    color: rgb(0, 0, 0);
}
p {
    color: navy;
    text-indent: 30px;
    line-height: 2;
}
button {
    font-size: 1.5em;
    margin-right: 10px;
    border-radius: 10px;
}
#roll {
    background: linear-gradient(to bottom left, #5FABC5, white);
}
#roll:hover {
    background: linear-gradient(to bottom left,  #FAA613, #A10702);
}
img:hover {
    border: 5px solid #ab0f0c;
    border-radius: 10px;
}
header {
    width: 85%;
    margin: 0 auto;
    background-color: #45433C;
    border: 10px solid #5FABC5;
    border-radius: 25px;
    text-align: center;
    margin-top: 5px;
    vertical-align: 150px;
    color: #EFECE6;
}
.container {
    width: 95%;
    text-align: center;
    vertical-align: 150px;
    margin: 0 auto;
    background-color: #F7D928;
    border: 10px groove #ab0f0c;
    display: flex;
    min-height: 100vh;
    justify-content: stretch;
    flex-wrap: wrap;
    
}
.wrapper {
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
}
#play-area {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 1;
}
#hand {
    border-radius: 25px;
    background-color: #45433C;
    width: 50%;
    max-height: 100px;
    position: absolute;
    bottom: 40px;
    left: 110px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
img {
    width: 15%;
    padding: .5px;
    margin: .5vw;
}
#play-area > img {
    animation: rollDice;
    animation-duration: 1s;
}  
main {
    box-sizing: border-box; 
    flex-grow: 2;
}
table, th, td {
    border: 1px groove rebeccapurple;
    background-color: #EFECE6;
    margin: 0 auto;
    padding: .5px;
    font-weight: bold;
}

@keyframes rollDice {
    0% {transform: rotate(0deg); transform-origin: 20% 40%}
    20% {transform: rotate(90deg)}
    50% {transform: rotate(-180deg); transform-origin: 40% 20%;}
    75% {transform: rotate(270deg)}
    100% {transform: rotate(360deg); transform-origin: 60% 30%;}
}

@media (min-width: 600px) {
    .wrapper {
      flex-direction: row;
    }
    #play-area {
      width: 80%;
      flex: 4;
      align-items: center;
      margin-right: 1em;
    }
    #hand {
      height: 25%;
    }
  
    main {
      flex: 2;
    }
}
